<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product List</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
</head>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<i class='fas fa-seedling fa-2x' style="color: #fff;"></i>
		<h4 style="color: white;">OrganicCrate</h4>
		&nbsp;
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/admin/category}">Category</a></li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<i class='fas fa-home fa-2x' style="color: #fff;"></i>
			<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/logout}">Logout</a></li>
		</ul>
	</nav>
	<div align="center">
		<h1>Product List</h1>
		<a th:href="@{/addProduct}" class="btn btn-success btn-sm mb-3">
			Add Product </a>
		<table border="2" class="table table-striped table-responsive-md w-75">
			<thead>
				<tr>
					<th>ProductImage</th>
					<th>ProductId</th>
					<th>ProductName</th>
					<th>Price(/kg)</th>
					<th>Avalilable Quantity</th>
					<th>ProductImageUrl</th>
					<th>Weight(kg)</th>
					<th>Description</th>
					<th>Buy Product</th>
					<th>SelectQuantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td><img th:src="${'/resources/'+product.imgUrl}" width="220"
						height="160" /></td>
					<td th:text="${product.pid}"></td>
					<td th:text="${product.pname}"></td>
					<td th:text="${product.price}"></td>
					<td th:text="${product.qty}"></td>
					<td th:text="${product.imgUrl}"></td>
					<td th:text="${product.weight}"></td>
					<td th:text="${product.description}"></td>
					<!-- <td><a th:href="${'/cart/buy/'+product.pid}">Buy Now</a></td> -->
					<!-- <td><input type="checkbox" name="pr" th:value="${product.pid}"></td>  -->

					<!-- <td><input type='checkbox' name='pr' th:value="${product.pid}"></td> -->
					

					<!-- <td><input type='text' name='qty' th:value='qty"+${product.pid}+"'></td><tr> -->

					<!--  <td><input type='text' name='qty' th:value="${qty}"></td><tr> -->

					<td><input type="checkbox" th:value="${product.pid}" name="pid" /></td>
					<td><input type="text" size="1" th:value="${qty}" name="qty" /></td>

					<!-- <td><input type="text" size="1" name="qty""${product.pid}"></td> -->
					<td><a th:href="@{/editProduct/{id}(id=${product.pid})}"
						class="fas fa-cog text-warning"></a>/ <a
						th:href="@{/deleteProduct/{id}(id=${product.pid})}"
						class="fas fa-trash text-danger"></a></td>
				</tr>
			</tbody>
		</table>

		<!-- <button  type="submit" class="btn btn-primary">Place Order</button> -->
		<a th:href="${'/cart/getBill'}">Place Order</a>
	</div>
</body>
</html>